{erl_opts, [debug_info, {i, "include"}]}.

{deps, []}.

{plugins, [rebar3_auto]}.

{auto_plugins, [rebar3_auto]}.

{profiles, [
    {test, [{deps, []}]}
]}.

{shell, [
    {config, "config/sys.config"}
]}.

{escript_incl_apps, [lx0]}.
{escript_main_app, lx0}.
{escript_name, lx}.
{escript_emu_args, "%%! -escript main lx0_cli"}.